body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  flex-direction: column;
 
}


.chec{
  width: 300px;
  text-align: center;
  
}
.logo{
  display: flex;
  gap: 20px;
}
.phone{
  display: flex;
  gap: 20px;
  padding-right: 50px;
  position: relative;
  h5{
    position: absolute;
    padding-left: 235px;
   
  }
  p{
    padding-right: 50px;
  }
}
.head{
  position: relative;
}
.con{
  width: 1200px;
}
.loading{
  
  width: 1300px;
  height: 60px;
  margin-top: 150px;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); /* Начальный угол вращения */
  }
  to {
    transform: rotate(360deg); /* Конечный угол вращения */
  }
}
.footer{
  display: flex;
  align-items: center;
  background: #F1EADC;
  justify-content: center;
  width: 1400px;

}
.womaz{
  display: flex;
  margin-top: 50px;
  align-items: start;
  justify-content: space-between;
  width: 1255px;
  height: 300px;
}
.imks{
  display: flex;
  font-size: 16px;
  align-items: center;
  padding-bottom: 30px;
  gap: 10px;
}
.sred{
  display: flex;
  gap: 50px;
}
.sred p:hover{
color: #6E9C9F;
}
.ptags{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  p:hover{
      color: #6E9C9F;
  }
}
.numb{
  text-align: end;
  .icon{
      padding-left: 75px;
      display: flex;
      align-items: center;
      gap:10px;
  }
}
.links{
  color: black;

text-decoration: none;}
ul p:hover{
color:#6E9C9F;
}
.col{
  text-decoration:none;
  color: black;
}
.cards{
  display: flex;
  justify-content: space-between;
margin-top: 50px;
margin-bottom: 50px;  
gap: 50px;
  text-align: center;
 flex-wrap: wrap;
 
}
p.active{
  color: #6E9C9F;
}
.elements{
  display: flex;
  justify-content: space-between;
  button{
    cursor: pointer;
    padding: 15px 25px;
background-color: transparent;
    border: 1px solid;
  }
  /* button:hover{
    background-color: black;
    color: white;
  } */
  button.active{
    background-color: black;
    color: white;
  }
}
.pt{
  background-color: black;
}
.aboutcard1 p{
  
  width: 500px;
}
.aboutcard1{
  display: flex;
  gap: 100px;
  align-items: center;
}

.clazz{
  background-color: black;
}
.words{
  display: flex;
  flex-direction: column;
}
.aboutcard{
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
  display: flex;
align-items: center;
button{
  margin-top: 50px;
  padding: 15px 20px;
  background: #6E9C9F;
border: none;
color: white;
}
}
.carta{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1050px;
}
.text{
  max-width: 250px;
  max-height: 200px;
  
}
.ptad{
  padding: 10px 20px;
  color: white;
  font-weight: 400;
  font-size: 25px;
  width: 400px;
  border-radius: 10px;
  background-color: greenyellow;
}